<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Изменение пилота</title>
  <link media="all" rel="stylesheet" th:href="@{/style/admin/forchangepilot.css}" type="text/css"/>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

</head>
<body>
<div class="page-header">
  <div class="wrap box-header" >
    <a href="/AirlineBusiness/main" class="logo"></a>
    <ul class="nav">

      <div class="nav" sec:authorize="isAuthenticated()">


        <li><a href="/person/personal" class="nav-item">Профиль</a> </li>
        <li><a href="/admin" class="nav-item">Администратор</a> </li>
        <li>  <form th:action="@{/logout}" th:method="POST">
          <input class="btnaki" type="submit" value="Выйти">
        </form> </li>

      </div>

    </ul>

  </div>
  <div class="wrap">



    <p class="rext" th:text="'Изменение пилота '+${pilot.getId()}+' '+${pilot.getPerson().getPersonDataPassport().getName()}+' '
+${pilot.getPerson().getPersonDataPassport().getSurname()}">Изменение пилота</p>

    <form th:method="POST"  th:action="@{/admin/updatepilot/{id}(id=${pilot.getId()})}" th:object="${pilot}" class="formfor" enctype="multipart/form-data" >




      <input type="file"  class="file"  name="file" id="file" height="600px"/>



        <input placeholder="Возраст" type="number" th:field="*{age}" name="age" id="age" class="datek">
      <div style="color: red;text-transform: none;padding-left: 7px;" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Username error</div>

      <input  placeholder="Опыт" type="number" th:field="*{experience}" name="experience" id="experience" class="datek">
      <div style="color: red;text-transform: none;padding-left: 7px;" th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}">Username error</div>



      <input type="submit" id="submit" class="btna22" value="Изменить">

    </form >




    <div th:if="${theresEmpty}">
      <p class="war">Какое-то поле пустое</p>
    </div>

    <div th:if="${approved}">
      <p class="war1">Пилот был изменен</p>
    </div>
  </div>
</div>
</body>
</html>