<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Все рейсы</title>
  <link media="all" rel="stylesheet" th:href="@{/style/admin/forallpilots.css}" type="text/css"/>

  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/style/favicon/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/style/favicon/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/style/favicon/favicon-16x16.png}">
  <link rel="manifest" th:href="@{/style/favicon/site.webmanifest}">
  <link rel="mask-icon" th:href="@{/style/favicon/safari-pinned-tab.svg}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

</head>
<body>
<div class="page-header">
  <div class="wrap box-header" >
    <a href="/AirlineBusiness/main" class="logo"></a>

    <ul class="nav">

      <div class="nav" sec:authorize="isAuthenticated()">


        <li><a href="/person/personal" class="nav-item">Профиль</a> </li>
        <li><a href="/admin" class="nav-item">Администратор</a> </li>
        <li>  <form th:action="@{/logout}" th:method="POST">
          <input class="btnaki" type="submit" value="Выйти">
        </form> </li>

      </div>

    </ul>

  </div>




</div>



<div class="fr3">
  <a href="/admin/newpilot" class="bt23">Создать пилота</a>
  <a href="/admin/createteam" class="bt23">Создать команду</a>
  <a href="/admin/allpilots" class="bt23">Команды пилотов</a>

</div>


<div th:if="${noTeam}" class="nous">
  <p>Пилотов нет</p>
</div>



<div th:if="!${noTeam}">

  <div class="tab">
    <form th:method="POST"  th:action="@{/admin/createteam}">


    <div class="tab">
      <table class="table">
        <tr class="tri">

          <th scope="col">Выбрать</th>
          <th scope="col">ID пилота</th>
          <th scope="col">ФИО</th>
          <th scope="col">Возраст</th>
          <th scope="col">Опыт</th>




        </tr>

        <tr th:each="pilot : ${pilots}" class="checkboxgroup" >
          <th:block>
            <td><input type="checkbox" th:value="${pilot.getId()}" name="id" /></td>
            <th th:text="${pilot.getId()}">12</th>
            <th th:text="${pilot.getPerson().getPersonDataPassport().getSurname()}+' '
                        +${pilot.getPerson().getPersonDataPassport().getName()}+' '+
                        ${pilot.getPerson().getPersonDataPassport().getPatronymic()}">Иванов Иван Иванович</th>
            <th th:text="${pilot.getAge()}">Иванов Иван Иванович</th>
            <th th:text="${pilot.getExperience()}">Смотреть</th>
          </th:block>


        </tr>



      </table>
    </div>


  <input type="submit" class="btn12" value="Создать"/>
  </form>
</div>
</div>







</body>
</html>

<script type="text/javascript">

  // выбранные чекбоксы
  var checkboxes = document.querySelectorAll('input[type="checkbox"]');
  // максимальное количество выбранных элементов
  var maxChecked = 2;
  // текущее количество выбранных элементов
  var checkedCount = 0;

  checkboxes.forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
      if (this.checked) {
        // увеличиваем количество выбранных элементов
        checkedCount++;
        // если количество превышает максимальное, отменяем выбор
        if (checkedCount > maxChecked) {
          this.checked = false;
          checkedCount--;
        }
      } else {
        // уменьшаем количество выбранных элементов
        checkedCount--;
      }
    });
  });


</script>