<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Информация о двух людях</title>

    <link media="all" rel="stylesheet" th:href="@{/style/admin/forinfoaboutteambyadmin.html.css}" type="text/css"/>


    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/style/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/style/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/style/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/style/favicon/site.webmanifest}">
    <link rel="mask-icon" th:href="@{/style/favicon/safari-pinned-tab.svg}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
<div class="page-header">
    <div class="wrap box-header" >
        <a href="/AirlineBusiness/main" class="logo"></a>
        <ul class="nav">

            <div class="nav" sec:authorize="isAuthenticated()">


                <li><a href="/person/personal" class="nav-item">Профиль</a> </li>
                <li><a href="/admin" class="nav-item">Администратор</a> </li>
                <li>  <form th:action="@{/logout}" th:method="POST">
                    <input class="btnaki" type="submit" value="Выйти">
                </form> </li>

            </div>

        </ul>

    </div>
    <p class="da" th:text="'ID КОМАНДЫ #'+${team.getId()}">ID КОМАНДЫ #7</p>
    <div class="container">

        <div class="person">
            <div th:if="${imageOne}">
                <img th:src="@{/images/{id}(id=${team.getMainPilot().getAvatar_id().getId()})}" width="300px"/>
            </div>

        <div th:if="!${imageOne}">
            <img class="person__image" src="https://via.placeholder.com/400x300" alt="Фото первого человека">
        </div>


            <div class="person__info">
                <h2 class="person__name" th:text="${pil1.getPerson().getPersonDataPassport().getName()}+' '+
${pil1.getPerson().getPersonDataPassport().getSurname()}">Иван Иванов</h2>
                <h3 class="person__title">Первый пилот</h3>
                <p class="person__bio" th:text="${pil1.getExperience()}+' лет'">Стаж: </p>
            </div>
            <th><a class="nav-item2" th:href="@{/admin/updatepilot/{id}(id=${pil1.getId()})}">Редактировать</a></th>
        </div>

        <div class="person">
            <div th:if="${imageTwo}">
                <img th:src="@{/images/{id}(id=${team.getSecondPilot().getAvatar_id().getId()})}" width="300px"/>
            </div>

            <div th:if="!${imageTwo}">
                <img class="person__image" src="https://via.placeholder.com/400x300" alt="Фото первого человека">
            </div>


            <div class="person__info">
                <h2 class="person__name" th:text="${pil2.getPerson().getPersonDataPassport().getName()}+' '+
${pil2.getPerson().getPersonDataPassport().getSurname()}">Иван Иванов</h2>
                <h3 class="person__title">Первый пилот</h3>
                <p class="person__bio" th:text="${pil2.getExperience()}+' лет'">Стаж: </p>
            </div>
            <th><a class="nav-item2" th:href="@{/admin/updatepilot/{id}(id=${pil2.getId()})}">Редактировать</a></th>
        </div>
    </div>
</div>
</body>
</html>