<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Информация о команде</title>
  <link href="forteam.css" rel="stylesheet" type="text/css">
  <link media="all" rel="stylesheet" th:href="@{/style/pilot/forinfoaboutteam.css}" type="text/css"/>

</head>
<body>
<div class="page-header">
  <div class="wrap box-header" >
    <a href="/AirlineBusiness/main" class="logo"></a>
    <ul class="nav">

      <div class="nav" sec:authorize="isAuthenticated()">


        <li><a href="/person/personal" class="nav-item">Профиль</a> </li>
        <li><a href="/pilot" class="nav-item">Панель пилота</a> </li>
        <li>  <form th:action="@{/logout}" th:method="POST">
          <input class="btnaki" type="submit" value="Выйти">
        </form> </li>

      </div>

    </ul>

  </div>
  <p th:text="'ID КОМАНДЫ #'+${idteam}" class="da">ID КОМАНДЫ #7</p>
  <div class="container">

    <div class="person">
      <img class="person__image" src="../air/Airplane-PNG-Pic.png" alt="Фото первого пилота">
      <div class="person__info">
        <h2 class="person__name" th:text="${first.getPerson().getPersonDataPassport().getName()+' '+
        first.getPerson().getPersonDataPassport().getSurname()}">Иван Иванов</h2>
        <h3 class="person__title">Первый пилот</h3>
        <p class="person__bio" th:text="${'Стаж: '+first.getExperience()+' лет'}">Стаж: </p>
      </div>
    </div>

    <div class="person">
      <img class="person__image" src="https://via.placeholder.com/400x300" alt="Фото второго человека">
      <div class="person__info">
        <h2 class="person__name" th:text="${second.getPerson().getPersonDataPassport().getName()+' '+
        second.getPerson().getPersonDataPassport().getSurname()}">Иван Иванов</h2>
        <h3 class="person__title">Второй пилот</h3>
        <p class="person__bio" th:text="${'Стаж: '+second.getExperience()+' лет'}">Стаж:</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>