body{
    font-family: 'Nunito Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;

}
a{
    text-decoration: none;
}

.hr{
    margin: -34px 170px 56px 170px;
    padding: 0px 239px 0px 289px;



}

.btnaki:hover{

    background: rgb(207, 203, 203);




}

.btnaki{
    width: 100%;
    padding: 12px 22px 12px 22px;
    font-size: 12px;
    background: #fff;
    color: #392de8;
    margin-top: -6px;
    cursor: pointer;
    border-radius: 12px;
    text-align: center;
    transition: 0.5s;
    border:1px solid #392de8;

}
.chor{
    font-size: 28px;
    font-weight: 600;
    color: #343f8f;


}



.end{
    padding: 5px 317px;

    background-color: #edeff1;
}
.eni{
    font-weight: 300;
    font-size: 19px;
    line-height: 1px;
    text-align: center;
    color: #7C8DB0;
    flex: none;
}

.columns-2 {

    column-count: 2;
    font-size: 19px;
    color: black;
}
.columns-22 {

    column-count: 2;

}

.from{
    color: black;
}
.freeplace{
    color: #7581a1;
}
TD {
    vertical-align: top; /* Вертикальное выравнивание в ячейках */
    color: black;


}
TD#leftcol {
    width: 230px; /* Ширина левой колонки */
    color: #7581a1;

}

.price{
    color: black;
}



.forchos{
    padding: 0px 317px;
}

.infpil{
    padding: 0px 317px;
    color: black;
}
.hr2{
    margin: 0px 346px 20px 240px;
    padding: 0px 239px 0px 289px;
}
.forchos1{
    padding: 2px 317px;
    text-align: center;
}
.tab{

    text-align: center;
    margin: 20px auto;
    align-items: center;
    padding: 14px 10px;
    text-decoration: none;
}
.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    color: black;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.table td {
    border: 1px solid #dddddd;
    padding: 5px;
}


.info{
    font-size: 17px;
    color: #1b62b4;;
}

.some{
    font-size: 14px;
    color: #273c4c;
}

.btna{
    width: 69px;
    padding: 7px 4px 6px 4px;
    font-size: 13px;
    background: #392de8;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s;
    border: 1px solid black;

    transform: translate(-2px,-12px);
}


h1{
    font-size: 80px;
    font-weight: 600;
    color: #605DEC;
    letter-spacing: -2.5px;
    line-height: 1.1;
    max-width: 600px;



    text-align: center;
    margin: 0 auto;
    margin-bottom: 65px;

}
.wrap.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    padding-top: 53px;
}

.logo{
    width: 181px;
    height: 49px;
    background-image: url(../images/logos.png);
    display: block;
}

.nav{
    font-size: 12px;
    font-weight: 700;
    color: #605DEC;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0%;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
}

.ul.nav-modal>li{
    margin-bottom: 12px;

}
.ul.nav-modal>li:last-child{
    margin-top:35px ;
}

.nav-modal{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0%;


}





.nav>li{
    padding: 0 20px;
    color: #605DEC;

}
.nav>li:last-child{
    padding-right: 0;
}

.nav-item{
    color: #605DEC;
    letter-spacing: 2px;
}
.nav-item:hover{
    color: #4644be;
    letter-spacing: 2px;
}





.wrap{
    max-width: 900px;
    margin: 0 auto; /*закрепляет в середине даже при мастштабирование*/
    padding-left: 15px ;
    padding-right: 15px;
}



.page-team{
    text-align: center;/*text center*/
    background-image: url(../pictures/fonjq.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 236px 0 60px 0;
}

