body {
    

    font-family: 'Nunito Sans', sans-serif;
    background-color: #f1f3f8;
  }

  h1 {
    text-align: center;
 
    margin-top: 50px;
    color: #605DEC;
  }

  form {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #BBBBBB;
   
    border-radius: 10px;
  }

  /* Style the form elements */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #BBBBBB;
    font-size: 16px;
  }

  input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #3626c6;;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #261d79;;
    transition:2s;
  }

  /* Add some style for the labels */
  label {
    font-weight: bold;
    font-size: 17px;
    
    margin-bottom: 4px;
    display: block;
    color: #0b00cd;
    margin-left: 7px;
  }

  .end{
    padding: 8px 317px;
   
   
  }
  .eni{
  
    font-weight: 300;
    font-size: 16px;
    line-height: 1px;
    text-align: center;
    color: #7C8DB0;
    flex: none;
  }

.notice{
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
}
