body{
    font-family: 'Nunito Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;

}
a{
    text-decoration: none;
}

.page-header{
    background-image: url(../air/фоник.jpg);
    padding:0 0 300px 0;
    position: relative;

}
h1{
    font-size: 80px;
    font-weight: 600;
    color: #605DEC;
    letter-spacing: -2.5px;
    line-height: 1.1;
    max-width: 600px;



    text-align: center;
    margin: 0 auto;
    margin-bottom: 65px;

}


.btnaki:hover{

    background: rgb(207, 203, 203);




}

.btnaki{
    width: 100%;
    padding: 12px 22px 12px 22px;
    font-size: 12px;
    background: #fff;
    color: #392de8;
    margin-top: -6px;
    cursor: pointer;
    border-radius: 12px;
    text-align: center;
    transition: 0.5s;
    border:1px solid #392de8;

}

.wrap.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    padding-top: 53px;
}

.logo{
    width: 181px;
    height: 49px;
    background-image: url(../images/logos.png);
    display: block;
}

.war{
    margin-top: 1px;
    text-align: center;
    font-size: 17px;
    color: red;
}
.war1{
    margin-top: 1px;
    text-align: center;
    font-size: 17px;
    color: #5a07a1;
}

.nav{
    font-size: 12px;
    font-weight: 700;
    color: #605DEC;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0%;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
}

.ul.nav-modal>li{
    margin-bottom: 12px;

}
.ul.nav-modal>li:last-child{
    margin-top:35px ;
}



.rext{
    text-align: center;
    font-size: 17px;
}



.ph{
    border-radius: 35px 35px 0px 0px;
}

.abair{
    text-align: center;
    font-size: 22px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    list-style-type: none;
    margin: 14px;
    padding: 0%;
    margin-bottom:40px;
}



.cont{
    padding: 35px;

    background: #fff;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    border-radius: 23px;
    border:1px solid black;
}

.forcp{
    text-align: center;
    cursor: default;

}
.cit{
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: 900;
    text-transform: uppercase;
    list-style-type: none;
    margin: 14px;
    padding: 0%;

}
.da{
    text-align: center;
    font-size: 17px;
    color: black;
    font-weight: 600;
    text-transform: none;
    list-style-type: none;
    margin: 14px;
    padding: 0%;
}




.btna22{
    width: 100px;
    padding: 8px 11px 8px 11px;
    font-size: 14px;
    background: #fff;
    color: #392de8;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    transition: 0.5s;
    border:1px solid #392de8;

    transform: translate(-1px,-14px);

}
.btna22:hover{
    width: 100px;
    padding: 8px 11px 8px 11px;
    font-size: 14px;
    background: rgb(215, 215, 215);
    color: #392de8;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    transition: 0.5s;
    border:1px solid #392de8;

    transform: translate(-1px,-14px);

}

.select-state{
    display: inline-block;
    width: 231px;
    height: 34px;
    line-height: 30px;
    position: relative;
}

.datek{
    border: 1px solid #ccc;
    padding: 6px 12px;
    display: inline-block;
    width: 120px;

    border-radius: 4px;
    color: #333;
    font-family: inherit;
    font-size: inherit;
    line-height: 12px;
    -webkit-font-smoothing: inherit;
    transform: translate(0px,-12px);
}

.datek1{
    border: 1px solid #ccc;
    padding: 6px 12px;
    display: inline-block;
    width: 120px;

    border-radius: 4px;
    color: #333;
    font-family: inherit;
    font-size: inherit;
    line-height: 12px;
    -webkit-font-smoothing: inherit;
    transform: translate(0px,-12px);
}













.forrrbtn1{
    text-align: center;
    margin-bottom: 20px;
}

.nav>li{
    padding: 0 20px;
    color: #605DEC;

}
.nav>li:last-child{
    padding-right: 0;
}

.nav-item{
    color: #605DEC;
    letter-spacing: 2px;
}
.nav-item:hover{
    color: #4644be;
    letter-spacing: 2px;
}

.desc{
    padding: 0px 239px 71px 289px;

}
.desc22{
    padding: 0px 317px 71px 354px;

}

.fordecs{
    font-size: 19px;
    color: black;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}







.wrap{
    max-width: 900px;
    margin: 0 auto; /*закрепляет в середине даже при мастштабирование*/
    padding-left: 15px ;
    padding-right: 15px;
}




