<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Смена пароля</title>

    <link media="all" rel="stylesheet" th:href="@{/style/person/forchangepassword.css}" type="text/css"/>
</head>
<body>
      
<div class="container">

    <form th:method="PATCH" th:action="@{/person/changepassword}">

        <div class="row">

     
            <div class="col">

                <h3 class="title">Пароль</h3>
                

                <div class="inputBox">
                    
                    <input type="password" placeholder="Старый пароль"  name="oldpass" id="oldpass"  >
                </div>


                <div class="inputBox">
                    
                    <input type="password" placeholder="Новый пароль" name="newpass" id="newpass">
                </div>

                <div th:if="${badsolve}">
                    <p style="color: red;text-transform: none;padding-left: 7px;">Старый пароль и настоящий не совпадают</p>
                </div>

                <div th:if="${pasisnul}">
                    <p style="color: red;text-transform: none;padding-left: 7px;">Новый пароль пустой</p>
                </div>

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            </div>
    
        </div>

        <input type="submit" value="Сохранить и закрыть" class="submit-btn">

        <a href="/person/personal">Отмена</a>

    </form>

</div>  





</body>
</html>