<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Почта</title>
    <link media="all" rel="stylesheet" th:href="@{/style/person/foremail.css}" type="text/css"/>

    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/style/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/style/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/style/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/style/favicon/site.webmanifest}">
    <link rel="mask-icon" th:href="@{/style/favicon/safari-pinned-tab.svg}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
      
<div class="container">

    <form th:method="PATCH" th:action="@{/person/changemail}">

        <div class="row">

     
            <div class="col">

                <h3 class="title">Почта</h3>
                

                <div class="inputBox">

                    <div th:if="!${mis}">
                        <input type="email" name="email" id="email" th:value="${ma}" >
                    </div>

                    <div th:if="${mis}">
                        <input type="email" name="email" id="email" th:value="${mail}" >
                        <p style="color: red;text-transform: none;padding-left: 7px;">Неверный формат почты или уже используется</p>
                    </div>


                    

                </div>

                

            </div>
    
        </div>

        <input type="submit" value="Сохранить и закрыть" class="submit-btn">

        <a href="/person/personal">Отмена</a>

    </form>

</div>  





</body>
</html>